#column-header {
    display: flex;
    background-color: #121212;
    padding: 20px; /* Add padding to create space around the headers */
    color: #ffffff; /* Text color */
    gap: 20px;
}

#col1-header, #col2-header {
    width: 100%;
    text-align: center; /* Center the text horizontally */
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff; /* Text color */
    font-size: 25px; /* Font size set to 50 */
    border: 1px solid #333333;
    border-radius: 8px;
    display: flex;

}




table.parts {
    width: 30%; /* Set the table width to 100% of its container */
    border-collapse: separate; /* Separate cell borders to create a gap */
    border-spacing: 5px; /* Set the gap (spacing) between cells to 5px */
}

table.parts td {
    width: 33%; /* Each cell takes up 33% of the table width (for 3 columns) */
    text-align: center; /* Center align the content in each cell */
    padding: 5px; /* Add padding to the cells */
    border: 1px solid white; /* Add a 1px solid white border to each cell */
    border-radius: 6px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}



#axies-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create two equal columns */
    gap: 20px;
    width: 100%; /* Ensure the container takes up the full page width */
}

.axie {
    display: flex;
    align-items: center;
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 8px;
    background-color: #1e1e1e;
}

.axie-image {
    flex-shrink: 0; /* Prevents the image from shrinking */
    width: auto; /* Width can adjust based on aspect ratio */
    height: 150px;
    object-fit: contain;
    margin: 0 20px; /* Adds space on the left and right, while 0 margin on top and bottom */
    border-radius: 4px;
}

.axie-data {
    flex-grow: 1; /* Allows the data section to fill the remaining space */
}

.parts {
    margin-top: 10px;
    margin-left: auto; /* Align to the right side of the parent container */
}

.parts p {
    margin: 5px 0;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

/* Change link color to a light color */
.column a {
    color: #3498db; /* Replace with your desired light color */
    text-decoration: none; /* Remove underline from the link */
}

/* Change link color on hover */
.column a:hover {
    color: #2980b9; /* Replace with your desired hover color */
}

/* Responsive grid layout for smaller screens */
@media only screen and (max-width: 600px) {
    #axies-container {
        grid-template-columns: 1fr; /* Adjust to a single column layout on smaller screens */
    }
}
